
<article>
    <f:if condition="{event.image}">
        <f:for each="{event.image}" as="image">
            <f:if condition="{settings.detailPid} == ''">
                <f:then>
                    <f:link.action action="detail" controller="Event" extensionName="SfEventMgt" arguments="{event : event}" class="image"><f:image src="{image.uid}" alt="" treatIdAsReference="TRUE" height="300" /></f:link.action>
                </f:then>
                <f:else>
                    <f:link.action action="detail" arguments="{event : event}" pageUid="{settings.detailPid}" class="image"><f:image src="{image.uid}" alt="" treatIdAsReference="TRUE" height="300" /></f:link.action>
                </f:else>
            </f:if>
            <f:if condition="{event.startdates}">
                <div class="event-list-value event-startdate">
                    <f:for each="{event.activeStartdates}" as="startdate" iteration="i">
                        <f:if condition="{i.index}==0">
                            <f:format.date format="%d.%m.%Y, %H:%M">{startdate.startdatetime}</f:format.date> Uhr
                        </f:if>
                        <f:if condition="{i.index}==1">
                            &nbsp;(und mehr)
                        </f:if>
                    </f:for>
                </div>
            </f:if>
        </f:for>
    </f:if>
    <h3>
        <f:if condition="{settings.detailPid} == ''">
            <f:then>
                <f:link.action action="detail" controller="Event" extensionName="SfEventMgt" arguments="{event : event}">{event.title}</f:link.action>
            </f:then>
            <f:else>
                <f:link.action action="detail" arguments="{event : event}" pageUid="{settings.detailPid}">{event.title}</f:link.action>
            </f:else>
        </f:if>
    </h3>
    <p>{event.teaser}</p>
    <div class="event-list-item">
        <div class="event-list-row">
            <div class="event-list-label">
            </div>
            <div class="event-list-value event-registration">
                <f:if condition="{event.registrationPossible}">
                    <f:if condition="{settings.registrationPid} !=''">
                        <f:link.action action="registration" arguments="{event : event}" pageUid="{settings.registrationPid}" class="button"><f:translate key="event.registration" /></f:link.action>
                    </f:if>
                </f:if>
            </div>
        </div>
    </div>
    <ul class="actions">
        <li>
            <f:if condition="{settings.detailPid} == ''">
                <f:then>
                    <f:link.action action="detail" controller="Event" extensionName="SfEventMgt" arguments="{event : event}" class="button">Mehr</f:link.action>
                </f:then>
                <f:else>
                    <f:link.action action="detail" arguments="{event : event}" pageUid="{settings.detailPid}" class="button">Mehr</f:link.action>
                </f:else>
            </f:if>
        </li>
    </ul>
</article>