<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<p>Hallo {registration.firstname} {registration.lastname},</p>
<p>Deine Registrierung zu folgender Schulung wurde erfolgreich storniert:</p>
<ul>
    <li>
        <f:if condition="{registration.startdatetime}">
            <f:then>
                {event.title} - ({f:format.date(date: registration.startdatetime, format: '%d.%m.%Y - %H:%M')} Uhr)
            </f:then>
            <f:else>
                {event.title}
            </f:else>
        </f:if>
    </li>
</ul>
<f:format.html>{settings.notification.senderSignature}</f:format.html>

</html>